body {
width: 100%;
height: 100%;
background-color: black;
margin: 0 auto
}

.menu {
background-color: #252323;
text-align: center;
}

.dica1 {
text-align: center;
padding: 40px;
}

.resposta {
text-align: center;
}